{% extends 'admin_base.jinja' %}

{% block content %}

    

    <section class="section">
        <div class="container">
            <div class="columns is-desktop">
                <div class="column is-one-fifth">
                    <div class="content">
                        <aside class="menu">
                            <p class="menu-label">
                                General
                            </p>
                            <ul class="menu-list">
                                <li><a href="/admin">Resumen</a></li>
                                <li><a class="is-active">Bandeja de entrada</a></li>
                            </ul>
                            <p class="menu-label">
                                Administración
                            </p>
                            <ul class="menu-list">
                                <li><a>Administradores</a></li>
                                <li><a>Ofertas publicadas</a></li>
                                <li><a>Ofertas retiradas</a></li>
                            </ul>
                            <p class="menu-label">
                                Otros
                            </p>
                            <ul class="menu-list">
                                <li><a>Cerrar sesión</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
                <div class="column">
                    <h3 class="title is-3">Bandeja de entrada</h3>
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Vicepresidente Ejecutivo</p>
                            <div class="content">
                                <p>
                                    ¿Puede pagarme ahora?
                                </p>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Supervisor de seguridad en el Sector 7-G</p>
                            <div class="content">
                                <p>
                                    Nuuucelar, se dice nuuucelar.
                                </p>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Director de Sanidad</p>
                            <div class="content">
                                <p>
                                    ¿Es que eso, no puede hacerlo otro?
                                </p>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Vicepresidente Ejecutivo</p>
                            <div class="content">
                                <p>
                                    ¿Puede pagarme ahora?
                                </p>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Supervisor de seguridad en el Sector 7-G</p>
                            <div class="content">
                                <p>
                                    Nuuucelar, se dice nuuucelar.
                                </p>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Director de Sanidad</p>
                            <div class="content">
                                <p>
                                    ¿Es que eso, no puede hacerlo otro?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-desktop">
                <div class="column is-one-fifth"></div>
                <div class="column">
                    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                        <a class="pagination-previous">Anterior</a>
                        <a class="pagination-next">Siguiente</a>
                        <ul class="pagination-list">
                            <li><a class="pagination-link is-current" aria-label="Página 1">1</a></li>
                            <li><a class="pagination-link" aria-label="Página 2">2</a></li>
                            <li><a class="pagination-link" aria-label="Página 3">3</a></li>
                            <li><a class="pagination-link" aria-label="Página 4">4</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

{% endblock %}