{% extends 'admin_base.jinja' %}
{% block content %}

   <section class="section">
      <div class="container ">
         <div class="columns">
            <div class="column"></div>
            <div class="column is-two-quarters">
               <div class="card is-vertical-centered">
                  <div class="card-content">
                     <div class="content">
                        <figure class="image is-128x128 is-centered">
                           <img src="/images/panel-de-control.png" />
                        </figure>
                        <form method="POST" action="/login">
                           <div class="field">
                              <div class="control has-icons-left">
                                 <input class="input" name="user_email" type="text" placeholder="john.doe@myemailserver.com" required>
                                 <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                 </span>
                              </div>
                           </div>
                           <div class="field">
                              <div class="control has-icons-left">
                                 <input class="input" name="user_pass" type="password" placeholder="Str0ngP4ssw0rd" required>
                                 <span class="icon is-small is-left">
                                    <i class="fas fa-key"></i>
                                 </span>
                              </div>
                           </div>
                           <div class="field">
                              <div class="control">
                                 <input type="submit" value="Entrar" class="button is-fullwidth is-link">
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="column"></div>
         </div>
      </div>
   </section>

{% endblock %}
