ul li {
    list-style: none;
    margin-left: -1.9rem;
}

nav.level div.level-item a.link {
    color: white;
    font-weight: bold;
    font-size: larger;
}

nav.level div.level-item a.link:hover {
    /*color: rgb(50, 115, 220);*/
    text-decoration: underline;
}

section.hero.is-green {
    background-color: green;
    color: white;
}

section.hero.is-green div.hero-body div.container nav.level div.level-item h1.title {
    color: white;
}

div.wrapper {
    min-height: 68vh;
}

div.wrapper.green {
    background-color: rgb(220, 250, 226);
}

footer.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(220, 250, 226);
}
footer.footer .content .columns {
    text-align: justify;
}

figure.image { 
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.is-centered {
    text-align: center;
}

.is-vertical-centered {
    position: relative;
    top: 30%;
}