{% extends 'base.jinja' %}

{% block content %}

   <section class="section">
        <div class="container">
            <div class="columns is-flex is-centered">
                <div class="column">
                    <figure class="image is-128x128 is-centered">
                        <img src="/images/error.png" />
                    </figure>
                </div>
            </div>

            <div class="columns is-flex is-centered">
                <div class="column">
                    <div class="content">
                        <h2 class="title is-2">¡Error!</h2>
                        <p>
                            Vaya, esto es embarazoso, pero parece que has dado con una página que no existe o una oferta que ya ha sido borrada. 
                            Vuelve atrás y trataremos de encontrar lo que buscas. Te lo prometo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
   </section>

{% endblock %}