<!DOCTYPE html>
<html>
    <head>
        <title>{{ config.SITE_TITLE }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# <link rel="stylesheet" href="/css/bulma.min.css"> #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/theme.css">
        
    </head>
    <body>
        <div class="columns">
            <div class="column">
                <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="/">
                                <h1 class="title is-4" style="text-align: center">
                                    {{ config.SITE_TITLE }}
                                </h1>
                            </a>

                            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>

                        <div class="navbar-start">
                            <a class="navbar-item" href="/enviar">
                                Enviar una oferta
                            </a>
                            <a class="navbar-item" href="https://t.me/s/andaluciadevjobs" target="_blank">
                                Recibir ofertas de trabajo
                            </a>
                        </div>
                        <div class="navbar-end">
                            <a class="navbar-item" href="/login">
                                Acceso
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="wrapper">
            {% block content %}
                <!-- content -->
            {% endblock %}
        </div>

        <footer class="footer">
            <div class="content">
                <div class="columns">
                    <div class="column"></div>
                    <div class="column">
                        <h4 class="is-title is-4">Privacidad</h4>
                        <p>
                            Con objetivo de mantener la privacidad de los usuarios de Andalucia Developers: Jobs, desde este portal
                            no recopilamos ni mantenemos ninguna información de caracter personal. 
                        </p>
                        <p>
                            Todas las ofertas publicadas aquí,
                            tienen una fecha de caducidad estándar de 14 días, que podrán prolongarse a 30 días si el usuario lo desea.
                        </p>
                    </div>

                    <div class="column">
                        <h4 class="is-title is-4">Comunidad</h4>
                        <p>
                            Andalucia Developers es una comunidad de desarrolladores, diseñadores y administradores de sistemas andaluces, 
                            establecida en 2017 como grupo de Telegram, cuyo objetivo es compartir conocimiento, experiencias, ideas, 
                            proyectos, etc, sin forma jurídica.
                        </p>
                    </div>
                        
                    <div class="column">
                        <h4 class="is-title is-4">OpenSource</h4>
                        <p>
                            El proyecto Andalucia Developers: Jobs se encuentra publicado bajo licencia GPL, con el código fuente disponible
                            en GitHub, para que cualquiera interesado pueda realizar aportaciones y/o correcciones del funcionamiento o la estética
                            del sitio web.
                        </p>
                    </div>

                    <div class="column">
                        <h4 class="is-title is-4">Contacto</h4>
                        <p>
                            Contacta directamente con nosotros si tienes cualquier duda o petición.
                        </p>
                        <ul type="none">
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ config.SITE_EMAIL }}">admin@andaluciadev.com</a></li>
                            <li><i class="fa fa-telegram" aria-hidden="true"></i> <a href="{{ config.SITE_TELEGRAM_URL }}">{{ config.SITE_TELEGRAM_TITLE }}</a></li>
                            <li><i class="fa fa-github" aria-hidden="true"></i> <a href="{{ config.SITE_GITHUB_URL }}">{{ config.SITE_GITHUB_TITLE }}</a></li>
                        </ul>
                    </div>

                    <div class="column"></div>
                </div>

                <div class="attributions is-centered">
                    <p>
                        Made with <span style="color: #e25555;">&hearts;</span> by Juanjo Salvador
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>