{% extends 'base.jinja' %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns is-flex is-mobile">
                <div class="column">
                    <div class="content">
                        <div class="tile is-ancestor">
                            <div class="tile is-vertical is-parent">
                                <article class="tile is-child notification is-green">
                                    <p class="title">¿Buscas trabajo? Aquí puede que lo encuentres.</p>
                                    <p class="subtitle">Estas son las ofertas más recientes que nos han enviado.</p>
                                    <p>Puedes buscar por localización para encontrar las que se ajusten a ti.</p>

                                    <form method="POST" action="/">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" name="filter" type="text" placeholder="¿Donde quieres buscar?" required>
                                            </div>
                                        </div>
                                    </form>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-flex is-mobile">
                <div class="column">
                    <div class="content">
                    {% for offer in offers %}
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4">{{ offer.job }}</p>
                                <div class="content">
                                    <p>
                                        {{ offer.description }}
                                    </p>
                                    <ul class="job-requirements">
                                        <li><strong>Compañía</strong>: {{ offer.company }}</li>
                                        <li><strong>Salario</strong>: {{ offer.salary }} {% if offer.salary %} €{% endif %} </li>
                                        <li><strong>Localización</strong>: {{ offer.localization }}</li>
                                        <li>
                                        <strong>Cualidades requeridas</strong>:
                                            <ul>
                                                <li>{{ offer.requirements }}</li>
                                            </ul>
                                        </li>
                                        <li>
                                        <strong>¿Qué ofrecemos?</strong>:
                                            <ul>
                                                <li>{{ offer.extra }}</li>
                                            </ul>
                                        </li>
                                        <li><strong>Contacto</strong>: {{ offer.contact }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
   </section>

{% endblock %}