{% extends 'base.jinja' %}

{% block content %}

   <section class="section">
        <div class="container">
            <div class="columns is-flex">
                <div class="column"></div>
                <div class="column is-three-quarters is-centered">
                    <div class="content">
                    <h2 class="title is-2">¡Nada por aquí!</h2>
                    <p>Todavía está en fase de construcción. Si necesitas contactar con nosotros, escríbenos a través de Telegram.</p>
                    </div>
                </div>
                <div class="column"></div>
            </div>
        </div>
   </section>

{% endblock %}