{% extends 'base.jinja' %}

{% block content %}

   <section class="section">
      <div class="container">
         <div class="columns is-mobile">
            <div class="column"></div>

            <div class="column is-three-quarters">
                <div class="content">

                    {% if form_sended == False %}

                        <h3 class="title">
                            ¡Quiero enviar una oferta de trabajo!
                        </h3>

                        <p>
                            Rellena este pequeño formulario con algunos datos sobre la oferta, ¡y listo! Añade además una dirección o URL de contacto 
                            (telegram, correo electrónico, twitter...), para facilitar a los candidatos la posibilidad de incorporarse en proceso de selección.
                        </p>

                        <form method="POST" action="/">
                            <div class="field">
                                <label class="label">Puesto</label>
                                <div class="control">
                                    <input class="input" name="project_name" type="text" placeholder="Software Engineer" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Empresa</label>
                                <div class="control">
                                    <input class="input" name="project_name" type="text" placeholder="Andalucía Developers S.A." required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Descripción de la oferta</label>
                                <div class="control">
                                    <textarea class="input" placeholder="Empresa líder del sector en busca de su próximo empleado del mes."></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Salario bruto anual (opcional)</label>
                                <div class="control">
                                    <input class="input" name="project_name" type="number" min="15000" placeholder="25000">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Localizacion</label>
                                <div class="control">
                                    <input class="input" name="project_name" type="text" placeholder="Sevilla" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Requisitos (opcional)</label>
                                <div class="control">
                                    <textarea class="input" placeholder="Al menos 2 años de experiencia con Python, Git, Heroku"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Pluses (opcional)</label>
                                <div class="control">
                                    <textarea class="input" placeholder="Kiwis, café, seguro médico"></textarea>           
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Contacto</label>
                                <div class="control">
                                    <input class="input" name="project_repo" type="text" placeholder="URL o dirección de contacto para la oferta" required>
                                </div>
                            </div>
                            <br/><br/>
                            <div class="field is-grouped is-grouped-right">
                                <div class="control">
                                    <input type="reset" value="Borrar" class="button is-text">
                                </div>
                                <div class="control">
                                    <input type="submit" value="Aceptar" class="button is-link">
                                </div>
                            </div>
                        </form>
                    
                    {% else %}

                        <h3 class="title">
                            ¡Hemos añadido tu oferta!
                        </h3>

                        <p>
                            ¡Pero no está publicada aún! Nuestros administradores tienen que revisar la oferta que nos has enviado para verificar que cumple con todos los requisitos,
                            en un plazo de 24 horas máximo, estará disponible en el canal.
                        </p>

                        <p>
                            Muchas gracias por tu colaboración y esperamos que encontréis a la persona adecuada para el puesto.
                        </p>

                        <p>
                            Recuerda que puedes recibir más ofertas de trabajo a través de <a href="https://t.me/andaluciadevjobs">nuestro canal de Telegram</a>.
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="column"></div>
         </div>
      </div>
   </section>

{% endblock %}