{% extends 'base.jinja' %}

{% block content %}

   <section class="section">
        <div class="container">
            <div class="columns is-flex is-centered">
                <div class="column"></div>
                <div class="column is-three-quarters">
                    <div class="content">
                        <h2 class="title is-2">¡Error 404!</h2>
                        <p>Parece que has dado con una página que no existe o una oferta que ya ha sido borrada. Vuelve atrás y trataremos de encontrar lo que buscas.</p>
                    </div>
                </div>
                <div class="column"></div>
            </div>
        </div>
   </section>

{% endblock %}